.siteHeader {
  background-color: #132D30; /* footer color */
  position: sticky;
  top: 0;
  z-index: 50;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
}

.headerInner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.header-logo img {
  width: 100px;
  height: 40px;
}

.header-title {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.15em;
  color: #A13535;
}

.header-title span {
  color: #dc2626; /* red-600 */
}

.nav {
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 100%;
}

.mainNav {
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 100%;
}

.nav-link {
  text-decoration: none;
  color: #3FD0C9;
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 0.1em;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: #8B1A1A;
}

a {
  color: #dc2626;
}

.nav-link.active {
  color: #3FD0C9;
  border-bottom: 2px solid #3FD0C9;
}

.menu-button {
  display: none;
  font-size: 1.8rem;
  color: #e5e7eb;
  background: none;
  border: none;
  cursor: pointer;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .menu-button {
    display: block;
  }

  .nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: #0f172a;
    padding: 1rem 0;
    display: none;
  }

  .nav.open {
    display: flex;
  }

  .nav-link {
    padding: 1rem;
    text-align: center;
  }
}

#logoHeader{
  height: 50px;
  width:auto;
}

.mainNav a {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  float: right;
}

h1 h2 h3 h4 h5 {
  color: #dc2626;
}